#page-container{
    display: grid;
    width: auto;
    height: auto;
    background-color: white;
    gap: 5px;
    grid-template-columns: 350px 500px 500px;
    grid-template-rows: auto;
    justify-content: start;
    align-content: start;
    grid-auto-flow: column;
    margin: 0px;
    padding: 0;

}

#chart-column{
    display: grid;
    width: 600px;
    height: 705px;
    gap: 5px;
    grid-template-columns: 500px;
    grid-template-rows: 260px 350px;
    justify-content: start;
    align-content: start;
    grid-auto-flow: row;
    margin: 0px;
    padding: 0;
    text-align: center;
    font-size: large;


}
#carbon-chart{
    height: 500px;
    margin: 0px;
    padding: 0;
    text-align: center;
    font-size: large;
    white-space: nowrap;
    
    

}
#input-container{
    display: grid;
    width: 360px;
    height: 585px;
    background-color: lightgray;
    gap: 5px;
    grid-template-columns: 100px 40px auto auto;
    grid-template-rows: 50px 50px 3px 50px 50px 3px 50px 50px 3px 50px 50px 3px 50px 50px 3px 50px 50px 3px;
    justify-content: start;
    align-content: start;
    grid-auto-flow: row;
    margin: 0px;
    padding: 0;
}
.chart{
    width: 400px;
    height: 300px;
}
.acInLabel{
    white-space: nowrap;
}
#nuclearIcon{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: green;
}
#coalIcon{
    grid-row-start: 4;
    grid-row-end: 6;
}
#gasIcon{
    grid-row-start: 7;
    grid-row-end: 9;
    background-color: lightyellow;
}
#windIcon{
    grid-row: 10/12;
    background-color: white;
}
#solarIcon{
    grid-row: 13/15;
    background-color: orange;
}
#batteryIcon{
    grid-row: 16/18;
    background-color: lightblue;
}
.containerLine{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 3px;
    
    background-color: black;
}

.gridItem{
    padding: 0;
    border: 0;
}
.powericon{
    height: 100px;
    width: 100px; 
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;
    flex-direction: column;
    margin: 0px;

}
.powericon img{
    margin: auto;
    display: block;
}
.iconimage{
    height: 60px;
    width: 60px;
    background-color: white;
}
.captiontext{
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}
.numberinput{
    box-sizing: border-box;
    height: 20px;
    margin: auto;
    width: 40px;
    padding: 0;

}
.inputButton{
    font-size: 12pt;
    color: black;
    background-color: white;
    box-shadow: 1px 1px grey;
    border: 0;
    padding: 0;
    height: 20px;
    text-align: center;
    margin: auto;
    transition-duration: .4s;


}
#coalToNuclearButton{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20px 40px;
    gap: 5px;
    padding: 0px;
    margin: 3px;
}
#doubleButton{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20px 26px 20px;
    margin-top: 15px;
}
.inputButton:hover{
    background-color: grey;
}
.inputButton:active{
    background-color: lightgray;
    transform: translateY(4px);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}